h1 {
    color:#ff2156;
}

body {
    background-color: #72708f;
}

#encabezado {
    background-color: white;
    height: 150px;
    width: 80%;
    margin: 0 auto;
    margin-bottom:10px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px rgba(0, 0, 0, 50%);
    display: flex;
}

.logo {
    background-color: rgb(20, 241, 149);
    width: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.menu {
    background-color: rgb(15, 148, 172);
    width: 75%;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: rgb(137, 184, 255);
}

.menu ul li {
    margin: 0;
    padding: 10px 10px;
}

.menu ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menu ul li a:hover {
    color: #f2e5ff;
    padding: 10px 10px;
    background-color: #72708f;
}

.redes {
    background-color: rgb(199, 74, 168);
    width: 15%;
}

.redes img {
    max-width: 25%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: inline;
}

.cuerpo1 {
    background-color: rgb(255, 244, 91);
    height: 230px;
    width: 80%;
    margin: 0 auto;
    margin-top: auto;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 50%);
    padding: 20px;
    display:flex;
}

.cuerpo2 {
    background-color: rgb(34, 212, 102);
    height: 230px;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 50%);
    padding: 20px;
}

.cuadro_izq {
    background-color:rgb(68, 124, 207);
    height: 200px;
    width: 33.3%;
    padding: 10px;
}

.cuadro_cen {
    background-color:rgb(68, 124, 207);
    height: 200px;
    width: 33.3%;
    padding: 10px;
    margin-inline: 30px auto;
    
}

.cuadro_der {
    background-color:rgb(68, 124, 207);
    height: 200px;
    width: 33.3%;
    padding: 10px;
    margin-inline: 30px auto;
}

.abajo {
    background-color:rgb(223, 64, 37);
    height: 200px;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 50%);
    display: flex;
}

.c1 {
    background-color:rgb(68, 124, 207);
    height: 180px;
    width: 50%;
    padding: 10px;
}

.c2 {
    background-color:rgb(68, 124, 207);
    height: 180px;
    width: 50%;
    padding: 10px;
    margin-inline: 40px auto;
}

#fondo {
    background-color: white;
    height: 600px;
    width: 80%;
    margin-top: 10px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 50%);
    padding: 15px;
    display: block;
}